body {
  background-image: url("Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
}

.ugh {
  background-color: rgba(80, 80, 80, 1);
  text-align: center;
  margin-right: 500px;
  margin-left: 500px;
}

.fuckass {
  background-color: rgba(160.9, 160.9, 160.9, 1);
  text-align: center;
  margin-right: 500px;
  margin-left: 500px;
  margin-bottom: 50px;
}

h2 {
  font-size: 50
}

h1 {
  font-size: 5
  color: black;
  font-family: arial;
}

p {
  color: black;
  font-family: arial;
  margin-right: 50px;
  margin-left: 50px;
}

img {
  width: 100%;
  height: auto;
}